@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300&family=Nuosu+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #e9d35b;
    height: 50px;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(18) infinite alternate;
    border-right: 3px solid #e9d35b;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 15px;
    color: white;
  }

  .prompt p{
    font-family: 'Playball', cursive;
    font-size: 30px;
    color: #00CCCC;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: #3e497a;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }

  @keyframes text{
    0%{
        width: 0ch;
    }
    50%{
      width: 18ch;

    }
  }
  