@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h1 {
    margin-top: 50px;
    color: #0080FF;
    font-family: 'Acme', sans-serif;
    font-size: 35px;
  }
  .project img {
    width: 450px;
    border-radius: 10px;
  }
  
  .project p {
    font-size: 40px;
    font-family: 'Prosto One', cursive;
    color: #FF007F;
  }
  
  .project svg {
    font-size: 60px;
    color: #3e497a;
    cursor: pointer;
  }
  